.footer{
  padding: 100px;
  height: 2000px;
  width: 100%;
  background: #000;
  .content{
    width: 100%;
    border: 1px solid #f00;
  }
  p{
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #fff;
  }
}