.nav{
  width: 100%;
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1px 0 #ddd;
  display: flex;
  flex-direction: row;
  .navLeft{
    width: 50%;
    .name{
      display: inline-block;
      margin-top: 15px;
      color: #eee;
      text-shadow: 4px 4px #aaa;
      font-weight: bold;
      font-size: 37px;
      line-height: 35px;
      letter-spacing: 1px;
      user-select: none;
    }
  }
  .navRight{
    width: 50%;
    padding-left: 40px;
    ul{
      margin: 0;
      li{
        padding: 23px 15px;
        float: left;
        list-style: none;
        a{
          padding: 5px;
          font-size: 12px;
          font-weight: normal;
          color: #aaa;
          transition: 0.5s;
          letter-spacing: 2px;
          text-transform: uppercase;
          padding-top: 6px;
          text-decoration: none;
          &:hover{
            color: #ea9d33;
          }
        }
      }
    }

  }
}

.stick{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}